/* Hero Section  */
.hero {
  padding-top: 70px;
  padding-bottom: 100px;
}
.hero .responsive-box {
  width: 100%;
  max-width: 917px;
  aspect-ratio: 917 / 567;
  background-color: #f2f2f2;
  margin: 0 auto;
  border-radius: 15px;
  overflow: hidden;
}
.hero h2 {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 21px 0 24px 0;
  margin-top: 25px;
}
.font-66 {
  font-size: 66px;
}

.hero .circle {
  border: 1px solid #1a70ba;
  border-radius: 100%;
  display: inline-block;
  padding: 13px 10px 7px 10px;
  margin-top: 70px;
}

/* About Section  */

.about {
  padding-bottom: 120px;
}

.font-48 {
  font-size: 48px;
}

.about .pera {
  padding-top: 25px;
  color: #222;
}
.text-222 {
  color: #222;
}
.about .event {
  background-color: #f2f2f2;
  color: #222;
  cursor: pointer;
  transition: ease-in-out;
  transition-duration: 0.1s;
}
.about .event .date {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: #f7f8f5;
  padding: 10px 45px;
  gap: 20px;
  transition: ease-in-out;
  transition-duration: 0.1s;
}
.about .circle {
  width: 42px;
  height: 42px;
  border-radius: 100%;
  border: 1px solid #2222228f;
  margin-right: 40px;
  background: white;
  transition: ease-in-out;
  transition-duration: 0.1s;
}
.about .event:hover {
  background: #35b1ef;
  color: white;
}
.about .event:hover .date {
  background: #1a70ba;
}
.about .event:hover .circle {
  background: transparent;
  border: 2px solid white;
}
.font-52 {
  font-size: 52px;
}

/* Footer Section  */
.footer {
  background-color: #1a70ba;
  padding: 35px 0 44px 0;
}

.footer .pera {
  font-size: 11.5px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  padding-top: 2px;
}
